body {
  display: flex;
  flex-direction: column;
  padding: 2rem 6rem 2rem 6rem;
  font-family: 'Lato', sans-serif;
}

.logo {
  text-align: center;
  padding-bottom: 2rem;
}

.searchBar {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  padding-bottom: 1rem;

  & i {
    transform: translate(-150%);
  }
}

.input {
  padding: 0.7rem;
  width: 100%;
  background-color: #e7e7e7;
  border: none;
  border-radius: 5px;
}

.ingredients {
  background-color: #3282f7;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 1rem;
}

.appareil {
  background-color: #68d9a4;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  margin-right: 1rem;
}

.ustensiles {
  background-color: #ed6454;
  padding: 1rem;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

// Stickers

.recettes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipe {
  display: flex;
  max-width: 30%;
  flex-direction: column;
  padding: 2rem 1.2rem 2rem 1.2rem;
  width: 28em;
}

.recipeImg {
  background-color: #c7bebe;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}

.imgMin {
  max-width: 90%;
}

.recipeContent {
  background-color: #e7e7e7;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 190px;
  padding: 1rem 1rem 1rem 1rem;
}

.recipeHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.title {
  font-size: 18px;
  font-weight: 400;
}

.fa-clock {
  font-size: 18px;
}

.recipeDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list {
  max-width: 50%;
  font-size: 14px;
  font-weight: 400;
}

.todo {
  max-width: 50%;
  font-size: 14px;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  line-height: 1.3;
}
